*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  text-align: center;
  background-color: #09032F;
  color: white;
  font-family: Rubik, sans-serif;
  padding: 10px;
  padding-bottom: 25px;
}

#demo-title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
}

#demo-subtitle {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

img {
  float: left;
}

button {
  margin: 10px;
  font-size: 20px;
  padding: 15px;
  background-color: #566DE8;
  color: white;
  border-style: none;
  border-radius: 10px;
  box-shadow: 5px 10px;
  cursor: pointer;
}

button:disabled {
  background-color: #CCCCCC;
  cursor: default;
}

#buttons {
  display: flex;
  justify-content: center;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}


#captions {
  font-size: 20px;
  font-family: Rubik, sans-serif;
  position: absolute;
  width: 960px; 
  min-width: 400px;
  bottom: 9px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.53);
  padding: 10px;
  color: white;
  text-align: center;
}

